.Wrapper {
  width: 100%;
  position: relative;
  height: max-content;
}

.Content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-out;
  text-transform: uppercase;
}

.ContentTitle {
  background: var(--screen-color-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-45);
  font-weight: bold;
  color: var(--ter-grey);
  margin-bottom: 1.5rem;
}

.Content:nth-child(2) .ContentTitle {
  background: var(--screen-color-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Content:nth-child(3) .ContentTitle {
  background: var(--screen-color-3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ContentDesc {
  width: 90%;
  font-size: var(--font-28);
  color: var(--sec-balck);
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .ContentTitle {
    font-size: var(--font-30);
  }
  .ContentDesc {
    font-size: var(--font-20);
  }
}

@media only screen and (max-width: 700px) {
  .ContentTitle {
    text-align: center;
  }
  .ContentDesc {
    text-align: center;
    margin: 0 auto;
  }
  .Wrapper {
    height: 15rem;
  }
}

@media only screen and (max-width: 400px) {
  .ContentTitle {
    font-size: calc(var(--font-20) + 2.5vw);
  }
  .ContentDesc {
    font-size: calc(var(--font-12) + 1.5vw);
    width: 100%;
  }
}
