@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
:root {
  /* Font Sizes */
  --font-12: 1.2rem;
  --font-13: 1.3rem;
  --font-135: 1.35rem;
  --font-14: 1.4rem;
  --font-15: 1.5rem;
  --font-16: 1.6rem;
  --font-17: 1.7rem;
  --font-18: 1.8rem;
  --font-20: 2rem;
  --font-22: 2.2rem;
  --font-24: 2.4rem;
  --font-26: 2.6rem;
  --font-28: 2.8rem;
  --font-30: 3rem;
  --font-36: 3.6rem;
  --font-38: 3.8rem;
  --font-40: 4rem;
  --font-42: 4.2rem;
  --font-45: 4.5rem;
  --font-52: 5.2rem;
  --fontv-4: 4vw;
  --fontv-3: 3vw;
  --fontv-35: 3.5vw;

  /* Colors */
  --white: #ffffff;
  --pure-black: #000000;
  --black: #222222;
  --sec-black: #444444;
  --ter-black: #888888;
  --pri-grey: #999999;
  --ter-grey: #e5e5e5;

  --gradient-brown: radial-gradient(
      74.7% 152.65% at 91.93% 106.06%,
      #191724 0%,
      rgba(0, 0, 0, 0) 96.13%
    ),
    linear-gradient(267.65deg, #2c1978 6.74%, #94292e 102.9%);
  --gradient-dots: linear-gradient(
    270deg,
    rgba(0, 10, 252, 0.5) -30%,
    rgba(250, 0, 255, 0.5) 99.47%
  );

  --screen-color-1: radial-gradient(
    227.33% 243.44% at -64.17% 61.17%,
    #ff4d00 16.51%,
    #ff00d6 86.41%
  );
  --screen-color-2: radial-gradient(
    227.33% 243.44% at -64.17% 61.17%,
    #56007f 16.51%,
    #ff00d6 86.41%
  );
  --screen-color-3: radial-gradient(
    227.33% 243.44% at -64.17% 61.17%,
    #ff4d00 16.51%,
    #ffd80c 86.41%
  );
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: rgba(230, 230, 230, 0.2);
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.3);
  outline: 1px solid slategrey;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  font-family: "Manrope", sans-serif;
}
